<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="text-center">
                    <div class="ratio ratio-4x3">
                        <img id="largeImage" class="img-fluid rounded"
                             th:src="'data:image/jpeg;base64,' + ${encoder.encodeToBase64(carPart.images.get(carPart.mainImageIndex))}"
                             alt="Main Image" style="width: 100%; max-height: 500px; object-fit: cover;"/>
                    </div>
                    <div class="row mt-3 mx-auto g-2">
                        <div th:each="image, iterStat : ${carPart.images}"
                             class="col-2 d-flex justify-content-center">
                            <div class="ratio ratio-1x1" style="overflow: hidden; background-color: black;">
                                <img th:src="'data:image/jpeg;base64,' + ${encoder.encodeToBase64(image)}"
                                     alt="Thumbnail"
                                     style="width: 100%; height: 100%; object-fit: cover; cursor: pointer;"
                                     class="clickable-thumbnail" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="container">
                    <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/car-parts/update-quantity/{id}(id=${carPart.id})}" method="get" class="mb-3">
                        <button class="btn btn-primary w-100 fw-bold">
                            Актуализирай количество
                        </button>
                    </form>
                    <div class="card w-100">
                        <div class="card-header">
                            <h2><strong th:text="${carPart.title}" class="mt-1"></strong></h2>
                            <div class="mb-1 mt-1">
                                <h2 class="card-subtitle text-muted"
                                    th:text="${#numbers.formatDecimal(carPart.price, 2, 2)} + ' лв.'"></h2>
                            </div>
                            <form th:action="@{/order-items/submit/{carPartId}(carPartId=${carPart.id})}" method="post" th:object="${orderItem}">
                                <div class="input-group mb-2">
                                    <button class="btn btn-outline-secondary" type="button" onclick="decreaseValue()">-</button>
                                    <input type="number" th:field="*{quantity}" id="quantity"
                                           class="form-control text-center" value="1" min="1" max="10" step="1" readonly>
                                    <button class="btn btn-outline-secondary" type="button" onclick="increaseValue()">+</button>
                                </div>
                                <div th:each="error : ${#fields.errors('quantity')}" th:text="${error}" class="alert alert-danger mt-2" role="alert"></div>
                                <div th:if="${invalidQuantity}" th:text="'Има само ' + ${carPart.quantity} + ' останали бройки.'" class="alert alert-danger mt-2" role="alert"></div>
                                <button th:if="${carPart.quantity > 0}" type="submit" class="btn btn-primary w-100">Добави в количката</button>
                                <button th:if="${carPart.quantity == 0}" type="submit" class="btn btn-danger w-100" disabled>Изчерпано</button>
                            </form>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="text-muted mb-1">Описание</p>
                                <h5 th:text="${carPart.description}"></h5>
                            </li>
                            <li class="list-group-item">
                                <p class="text-muted mb-1">Марка</p>
                                <h5><strong th:text="${carPart.brand.name}"></strong></h5>
                            </li>
                            <li class="list-group-item">
                                <p class="text-muted mb-1">Модел</p>
                                <h5><strong th:text="${carPart.model.name}"></strong></h5>
                            </li>
                            <li class="list-group-item">
                                <p class="text-muted mb-1">Категория</p>
                                <h5><strong th:text="${carPart.category}"></strong></h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const thumbnails = document.querySelectorAll('.clickable-thumbnail');
        const largeImage = document.getElementById('largeImage');

        thumbnails.forEach(thumbnail => {
            thumbnail.addEventListener('click', function () {
                const newSrc = thumbnail.getAttribute('src');
                largeImage.setAttribute('src', newSrc);
            });
        });
    });

    function decreaseValue() {
        const quantityInput = document.getElementById('quantity');
        let currentValue = parseInt(quantityInput.value);
        if (currentValue > parseInt(quantityInput.min)) {
            quantityInput.value = currentValue - 1;
        }
    }

    function increaseValue() {
        const quantityInput = document.getElementById('quantity');
        let currentValue = parseInt(quantityInput.value);
        if (currentValue < parseInt(quantityInput.max)) {
            quantityInput.value = currentValue + 1;
        }
    }
</script>
</body>
</html>
