<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-primary">404</h1>
        <p class="fs-3"><span class="text-danger">Грешка!</span> Страницата не е намерена.</p>
        <p class="lead">Съжаляваме, но страницата, която търсите, не съществува.</p>
        <a href="/" class="btn btn-primary">Върнете се към началото</a>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
