<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main>
    <div class="container mt-5" style="max-width: 1000px;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card border-0 shadow-sm p-4">
                    <div class="text-center">
                        <img th:src="@{/images/profile-picture.jpg}"
                             alt="Profile Picture"
                             class="img-fluid rounded-circle mb-3"
                             style="width: 120px; height: 120px; object-fit: cover; border: 2px solid #ddd;">
                        <h3 class="fw-bold mb-1" th:text="${user.username}"></h3>
                        <p class="text-muted mb-2" th:text="${user.email}"></p>
                        <span th:if="${user.role == 'ADMIN'}" class="badge bg-success">Администратор</span>
                    </div>

                    <div class="text-center mt-4">
                        <a th:href="@{/orders/profile-orders}" class="btn btn-outline-primary w-100">Моите поръчки</a>
                    </div>
                    <form th:action="@{/logout}" method="post" class="text-center mt-3">
                        <button type="submit" class="btn btn-primary w-100">Излез от профила</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
